.title {
    width: 100%;
    text-align: right;
    font-size: 2rem;
    color: #444;
   
    margin-bottom: 50px;
    padding-left: 10%;
    padding-right: 3%;  
  };

  @media only screen and (max-width: 750px) {
    #cur-sco, #top-sco {
      font-size: 2rem;
    }
  }